<!DOCTYPE html>
<html lang="pl">
<head>
	<title>LeCraft oficjalny partner Sparfy.pl!</title>
	<meta charset="UTF-8">
	<meta name="description" content="Sparfy.pl - Customowy link + Reklama serwera za darmo!">
	<meta name="keywords" content="Sparfy, minecraft, lecraft, le craft">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="../assets/img/favicon.png">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap">
	<link rel="stylesheet" href="../assets/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../assets/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="../assets/css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="../assets/css/slicknav.min.css"/>
	<link rel="stylesheet" href="../assets/css/style.css"/>
</head>
<body>
	<div id="preloder">
		<div class="loader"></div>
	</div>
	<header class="header-section clearfix">
		<a href="/" class="site-logo">
			<h5 class="text-white">Sparfy.pl</h5>
		</a>
		<div class="header-right">
			<div class="user-panel">
				<a href="https://discord.com/invite/Nu9WUY8" class="login" target="_blank">Serwer partnera</a>
				<a href="https://www.lecraft.pl" class="register" target="_blank"><b>Strona partnera</b></a>
			</div> 
		</div>
	</header>
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2>LeCraft.pl</h2>
								<p>Wyróżniamy się szeroką gammą trybów: Survival, SkyBlock, Creative, Gildie, Vanilla SMP oraz wiele MiniGier typu BedWars!</p>
								<a href="https://lecraft.pl" class="site-btn">Strona LeCraft!</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="https://cdn.discordapp.com/icons/678745075462832162/a_49f3555c1778d7c5d535b3b6c0a87171.gif?size=128">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="how-section spad dc-bg">
		<div class="container text-white">
			<div class="section-title text-center pb-3">
				<h3>LeCraft.pl jest wieloletnią i zaufaną siecią serwerów!</h3>
			</div>
			<div class="row pt-5">
				<div class="col-md-4">
					<div class="how-item">
						<h4></h4>
						<p></p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="how-item">
						<h4>Zalety</h4>
						<p>Zapewniamy łatwy kontakt z administracją, która zawsze jest chętna do pomocy!
							Posiadamy również stałych graczy, którzy są z nami już od wielu edycji i również wspierają nowszych członków!
							Dzięki wielu eventom, możesz zdobyć walutę premium - tokeny, które również możesz zakupić w naszym sklepie.
							Dzięki nim możesz zyskać szeroką gamę efektów i doświadczyć wspaniałej rozrywki!</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="how-item">
						<h4></h4>
						<p></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-5 order-lg-1">
					<div class="copyright text-center text-white">
						Strona przerobiana na potrzeby projektu Sparfy.pl z template <a class="text-muted" href="https://colorlib.com/preview/theme/solmusic/">SolMusic</a> &copy; 2020
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="../assets/js/jquery-3.2.1.min.js"></script>
	<script src="../assets/js/bootstrap.min.js"></script>
	<script src="../assets/js/jquery.slicknav.min.js"></script>
	<script src="../assets/js/owl.carousel.min.js"></script>
	<script src="../assets/js/mixitup.min.js"></script>
	<script src="../assets/js/main.js"></script>
	</body>
</html>
